extends layout

block content
  script(src='javascripts/script.js')
  h1= title
  if message
    p= message
  if !success
    form(method='POST', action='/subscribe')
      input(type='text', name='webhookUrl', placeholder='Webhook url')
      br
      br
      button(type='submit', id='subscribeBtn') Submit